/* ! positionTest_170623.01.css */
@charset:"utf-8";
body{background-color: #aac;}
#wrap{width:960px; height:3000px; margin:0 auto; background-color:#fff; padding:20px; box-sizing:border-box;}
    h1{width:100%; height:auto; padding:2em; box-sizing:border-box; color: #fff; text-align: center; background-color: #05c;}

    /* modal _01 ___________________________________ */
    /* 스크롤 위치 관계없이, 브라우저상에 무조건 꽉차게 만들기 */
.modal_win{width:100%; height:100%; top:0; left:0; background-color: rgba(100,100,100,0.7); position:fixed; z-index:100;}
    .modal_box{width:700px; height:400px; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-350px; background-color:#fff;}
            #x{width:50px; height:50px; position:absolute; top:-20px; right:-20px; border: 0;
            border-radius:25px; background-color: #000; font-weight:bold; color:#fff; cursor:pointer;}
            #x:hover{background-color:#321;}
            .button_side{width:25px; height:25px; background-color:#000; color:#fff; position:absolute; top:50%; margin-top:-25px; border:0;}
            #right{right:0;}
            #left{left:0;}
